/* Обнуление стилей */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}

#menu {
	color: blue;
}
.textp {
	color: brown;
}
.textli {
	color: blue;
}
.textliviolet {
	color: violet;
}
.textliyellow {
	color: yellow;
}
.textliblack {
	color: black;
}
.textliblueviolet {
	color: blueviolet;
}
.textlibrown {
	color: brown;
}
.text {
	color: brown;
}
p.text.blue-text {
	color: blue;
}
p {
	color: aqua;
}
nav p {
	color: black;
}
